<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG" verbose="6" parallel="false" thread-count="2"
       data-provider-thread-count="3">
    <test name="Injection">
        <classes>
            <class name="edu.nitin.testng.issue112.CasesToFix"/>
            <class name="edu.nitin.testng.issue920.TestClass001"/>
            <class name="edu.nitin.testng.pull459.VarArgsDataProviderTest"/>
            <class name="edu.nitin.testng.pull459.NoInjectionTest"/>
        </classes>
    </test>
</suite>